---
---

/**
 * Colors
 */
$gray-100: #F8F8F8;
$gray-300: #CCCCCC;

$primary-400: #3867FA;
$primary-600: #223F9C;

.bg-gray {
  background-color: $gray-100;
}

#main {
  background-color: $gray-100;
}

/**
 * Space
 */
  $medium-space: 12px;
  $large-space: 22px;

/**
 * Fonts
 */
.font-header-xxl {
  font-size: 26px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0.3px;
  text-align: left;
}

.font-header-xl {
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.3px;
  text-align: left;
}

.font-body-m {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.3;
  text-align: left;
}

/**
 * Layouts
 */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;;
}

.align-items-center {
  align-items: center;
}

.no-grow {
  flex: 0 1 auto;
}

.grow {
  flex: 1 1 auto;
}

/**
 * Links
 */

a {
  color: $primary-400;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: none !important;
    color: $primary-600;
  }

  &.category-link {
    margin: $large-space;
  }
}

/**
 * Images
 */
.flask-svg {
  height: 250px;
  width: 250px;
}

/**
 * Components
 */

.warning {
  width: 100%;
  background-color: #FCF6EC;
}

#footer, footer {
  background-color: white;
}

/**
 * Project cards
 */
.project-card {
  width: 365px;
  height: 180px;
  border: 1px solid $gray-300;
  border-radius: 4px;
  padding: $large-space;
  margin: $large-space $large-space $large-space 0;

  .icon-large {
    height: 22px;
    width: 22px;
    margin-right: $medium-space;
  }

  .icon-small {
    height: 14px;
    width: 14px;
  }

  .info-bar-item {
    display: flex;
    align-items: center;
    flex: 0 1 auto;
    margin-right: $medium-space;
  }
}

/*****************************/
/* OVERRIDES FROM THEME FILE */
/*****************************/

/* Selected elements */
::-moz-selection { color: unset; background: unset; }
::selection { color: unset; background: unset; }
